*, *::before, *::after{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
.tabs{
    justify-content: space-between;
}
.container ul li{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.container ul li a{
    margin-left: auto;
    margin-right: auto;
}

footer.footer{
    background: #07243e;
    color: white;
}